[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/heads/*"]
        owner = group android_kernel_motorola_msm8916
        label-Verified = -1..+1 group android_kernel_motorola_msm8916
	forgeAuthor = group Administrators
	forgeCommitter = group Administrators
	forgeServerAsCommitter = group Administrators
	pushMerge = group Administrators
